<table
	mat-table
	[dataSource]="dataSource"
	matSort
	(matSortChange)="sortData($event)"
>
	<ng-container
		*ngFor="let displayedColumn of displayedColumns; let colIndex = index"
		matColumnDef="{{ displayedColumn.name }}"
	>
		<th mat-header-cell *matHeaderCellDef mat-sort-header>
			{{ displayedColumn.name | formatColumnName }}
		</th>
		<td mat-cell *matCellDef="let element">
			{{ element[displayedColumn.name] }}
		</td>
	</ng-container>

	<ng-container *ngIf="includeHeaderCharts">
		<ng-container
			*ngFor="let displayedColumn of displayedColumns"
			matColumnDef="{{ displayedColumn.name }}-chart"
		>
			<th mat-header-cell *matHeaderCellDef>
				<challenger-bar-chart
					*ngIf="displayedColumn.chartData.length > 5; else pieChartTemplate"
					[data]="displayedColumn.chartData"
				></challenger-bar-chart>
				<ng-template #pieChartTemplate>
					<challenger-pie-chart
						[data]="displayedColumn.chartData"
					></challenger-pie-chart>
				</ng-template>
			</th>
		</ng-container>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumnsNames"></tr>
	<tr mat-header-row *matHeaderRowDef="getChartColumnsDefs()"></tr>
	¡
	<tr
		mat-row
		*matRowDef="let row; columns: displayedColumnsNames"
		(click)="selectRow(row)"
		style="cursor: pointer"
	></tr>
</table>
<div *ngIf="!hidePaginator" class="table-paginator-container">
	<mat-paginator
		[pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
		aria-label="Select page of periodic elements"
	>
	</mat-paginator>
</div>
