<table
	mat-table
	[dataSource]="dataSource"
	matSort
	(matSortChange)="sortData($event)"
	*ngIf="displayedColumns$ | async as displayedColumns"
>
	<ng-container
		*ngFor="let displayedColumn of displayedColumns; let colIndex = index"
		matColumnDef="{{ displayedColumn }}"
	>
		<th mat-header-cell *matHeaderCellDef mat-sort-header>
			{{ displayedColumn | formatColumnName }}
		</th>
		<td mat-cell *matCellDef="let element">
			{{ element[displayedColumn] }}
		</td>
	</ng-container>

	<ng-container *ngIf="chartsData$ | async as chartsData">
		<ng-container
			*ngFor="let displayedColumn of displayedColumns"
			matColumnDef="{{ displayedColumn }}-chart"
		>
			<th mat-header-cell *matHeaderCellDef>
				<challenger-bar-chart
					*ngIf="chartsData[displayedColumn].length > 5; else pieChartTemplate"
					[data]="chartsData[displayedColumn]"
				></challenger-bar-chart>
				<ng-template #pieChartTemplate>
					<challenger-pie-chart
						[data]="chartsData[displayedColumn]"
					></challenger-pie-chart>
				</ng-template>
			</th>
		</ng-container>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="getColumnsNames(displayedColumns)"></tr>
	<tr
		mat-header-row
		*matHeaderRowDef="getChartColumnsDefs(displayedColumns)"
	></tr>
	¡
	<tr
		mat-row
		*matRowDef="let row; columns: getColumnsNames(displayedColumns)"
		(click)="selectRow(row)"
		style="cursor: pointer"
	></tr>
</table>
<div *ngIf="!hidePaginator" class="table-paginator-container">
	<mat-paginator
		[pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
		aria-label="Select page of periodic elements"
	>
	</mat-paginator>
</div>
