<div class="main-container">
	<div class="header-components-container">
		<challenger-chips
			placeholder="Filter by hero name..."
			[allOptions$]="chipOptions$"
			(updated)="onUpdateChipsSelection($event)"
			(resetted)="onResetFilter()"
		></challenger-chips>
		<challenger-button
			text="Create hero"
			(clicked)="onCreateHero()"
		></challenger-button>
	</div>
	<challenger-table
		[data$]="filteredHeroes$"
		[chartsData$]="chartsData$"
		[displayedColumns$]="tableColumnsNames$"
		(sorted)="onSortHeroes($event)"
		(rowSelected)="onSelectHero($event)"
	></challenger-table>
</div>
